<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
<h1>AGENDAMENTO</h1>

        {% for message in messages %}
            <div align="center">
                <strong>ERRO: </strong> {{message}}
            </div>
        {% endfor %}
        <form action="submit" method="post"> {% csrf_token %}
            <div align="center" style = "border-style: double; margin: 1px 700px 1px 700px;" >
                <h3>LOGIN</h3>
                <label>Username: </label>
                <input type="text" name="username"><br><br>
                <label>Password: </label>
                <input type="password" name="password"><br><br>
                <button type="submit">Entrar</button>
            </div>
        </form>
    </body>
</html>